<!DOCTYPE html>
<html lang="en">
{{> baseHead}}
<body>
    {{> siteHeader }}
    <section class="section">
        <div class="container">
            <h2>สวัสดี ยินดีต้อนรับ</h2>
            <p class="mg-bt-large">วันนี้เพื่อนมีอะไรจะฝากถาม ....</p>
            {{#each allPosts }}
                <div class="box">
                    <h4><a href="/p/{{ this.id }}">{{ this.title }}</a></h4>
                    <p>
                        <span>{{ this.from }} | </span>
                        <span class="text-gray">{{ this.createdAtText }}</span>
                    </p>
                    {{#if this.commentsCount }}
                        <div>{{this.commentsCount}} คอมเม้นท์</div>
                    {{else}}
                        <div>ยังไม่มีคอมเม้นท์</div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </section>
    {{> siteFooter }}
    {{> siteScrollTop }}
    {{> siteScripts }}
</body>
</html>